<div class="column">
  <div class="card">
    <h1 class="card-header-title"><%= customer.full_name %></h1>
      <% if customer.image.present? %>
        <div class="card-image">
          <figure class="image is-4by5">
            <%= image_tag customer.image %>
          </figure>
        </div>
      <% end %>
    <div class="card-content">
      <div class="container">
        <p><%= customer.phone_number %></p>
      </div>
      <% if customer.email_address.present? %>
        <div class="container">
          <p><%= customer.email_address %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>